# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.pyc
.cpython-311.pyc
venv\
.env
__pycache__/models.cpython-311.pyc
website/__pycache__/admin_routes.cpython-311.pyc
/website/__pycache__
/__pycache__
/__pycache__

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
venv/
.env

# (Optional) Ignore IDE/project files
.vscode/
*.log
